<!DOCTYPE html>
<html>

<head>
  <!-- <link rel="stylesheet" href="{{url_for('static',filename='css/style.css')}}"> -->
  <link rel="stylesheet" href="../static/css/style.css" />
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</head>

<body>
  <div class="main">
    <div class="heading center">
      <h1>SMARTMEET
    </h1>
    </div>
    <div class="tagline center flex">
      <span>Meeting for everyone</span>
    </div>
    <div class="wrap"></div>
    <div class="content">
      <div class="w-100 flex buttonbar">
        <button class="button play" id="start_btn"><span>Start video</span></button>

        <button class="button stop" disabled id="stop_btn" ><span>Stop video</span></button>
      </div>
      <div id="videoContainer" class="flex center">
        <div id="videoContainerOutline" class="flex center">
          <img id="video" src="{{ url_for('video') }}" />
          <!-- <img id="video" /> -->
        </div>
      </div>
    </div>
  </div>
  <script type="text/javascript" src="../static/js/scrips.js"></script>

</body>

</html>